dockerRegistryDns: concourse-registry
dockerInfluxDbDns: influxdb-host
dockerMinioDns: minio
dockerLocalNpmDns: local-npm
concourse:
  imageTag: 2.7.7
  concourse:
    dockerRegistry: concourse-registry:5000
    insecureDockerRegistry: concourse-registry:5000
  web:
    ingress:
      enabled: true
      hosts:
      - "concourse-web"
